[submodule "GamePlugin/xNVSE"]
path = GamePlugin/xNVSE
url = https://github.com/xNVSE/NVSE.git
branch = master
[submodule "GamePlugin/xFOSE"]
	path = GamePlugin/xFOSE
	url = https://github.com/AtomicTEM/xFOSE.git
